
body {
    text-align: center;
    background-image: url("./background.jpg");
    font-family: 'Courier New', monospace;

}

h1 {
 font-size: 48px;
 color: Gold;
 float: center;
 border: 5px solid rgb(7, 35, 126);
 padding: 20px;
 margin: 20px;
 background-color: antiquewhite;
}

p {
    font-size: 16px;
color: rgb(4, 107, 107);

}

.App {
    font-size: 16px;
    display: flex;

}

a {

}

.Book__title {
    text-align: center;
}

.title__delete {
    float: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 5%;
  }

  /* unvisited link */
a:link {
    color: rgb(47, 85, 36);
  }
  
  /* visited link */
  a:visited {
    color: darkslateblue;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

  .BookListMain__button-container {
    font-size: 22px;
    color: Gold;
    float: center;
    border: 5px solid rgb(7, 35, 126);
    padding: 5px;
    margin: 5px;
    background-color: antiquewhite
  }
  
  label {
    font-size: 16px;
    color: rgb(29, 5, 116);
    float: center;
    border: 1px solid rgb(7, 35, 126);
    padding: 0px;
    margin: 0px;
    background-color: antiquewhite
  }
  h2 {
    font-size: 32px;
    color: rgb(29, 5, 116);
    float: center;
    border: 1px solid rgb(7, 35, 126);
    padding: 0px;
    margin: 0px;
    background-color: antiquewhite
  }
  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 12px;
    border-radius: 50%;
  }
  div {
    display: flex;

  }