
body {
    text-align: center;
    background-image: url("./background.jpg");

}

h1 {
 font-size: 48px;
 color: Gold;
 float: center;
 border: 15px solid rgb(7, 35, 126);
 padding: 20px;
 margin: 20px;
 background-color: antiquewhite;
}

p {
    font-size: 16px;
color: rgb(4, 107, 107);

}

.App {
    font-size: 16px;
    display: block;

}

a {

}

.Book__title {
    text-align: center;
}

.title__delete {
    float: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 50px;
  }

  /* unvisited link */
a:link {
    color: lightgoldenrodyellow;
  }
  
  /* visited link */
  a:visited {
    color: darkslateblue;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

  .BookListMain__button-container {
    font-size: 22px;
    color: Gold;
    float: center;
    border: 1px solid rgb(7, 35, 126);
    padding: 5px;
    margin: 5px;
  }